@page
@model AddReservationModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Add Reservation";
}

<div class="container-fluid">
    <div class="row h-100">
        <div class="col-3 bg-light menuheight">
            <h4 class="text-left font-weight-bolder mt-4">Welcome Admin</h4>
            <div class="row">
                <div class="mt-5 w-100"></div>
                <div class="col-9">
                    <h5 class="font-italic text-left">Menu</h5>
                    <div class="w-100">
                        <a asp-page="/Admin">Home</a>
                    </div>
                    
                    <h5 class="font-italic text-left mt-3">Locations</h5>
                    <div class="w-100">
                        <a asp-page="/AddWorkspace">Add workspace</a>
                    </div>
                    
                    <div class="w-100">
                        <a asp-page="/DeleteWorkspace">Delete workspace</a>
                    </div>

                    <h5 class="font-italic text-left mt-3">Employees</h5>

                    <div class="w-100">
                        <a asp-page="/AddEmployee">Add employee</a>
                    </div>
                    
                    <div class="w-100">
                        <a asp-page="/DeleteEmployee">Delete employee</a>
                    </div>
                    
                    <h5 class="font-italic text-left mt-3">Reservations</h5>

                    <div class="w-100">
                        <a class="nav-link disabled" asp-page="/AddReservation">Add reservation</a>
                    </div>
                    
                    <div class="w-100">
                        <a asp-page="/DeleteReservations">Delete reservation</a>
                    </div>
                    
                    <h5 class="font-italic text-left mt-3">Settings</h5>

                    <div class="w-100">
                        <a asp-page="/ChangeName">Company Name</a>    
                    </div>
                    
                    <div class="w-100">
                        <a asp-page="/OpeningHours">Opening hours</a>    
                    </div>
                    
                    <div class="w-100">
                        <a asp-page="/Priorities">Edit Priorities</a>
                    </div>
                </div>
            </div>
            
            <hr>
            <a class="position-absolute" style="bottom: 15px;" asp-page="/Index">Logout</a>
        </div>

        <div class="col">
            <div class="row">
                <div class="pl-5 col-8">
                    <div class="card mt-2">
                        <article class="card-body">
                        <h4 class="card-title mb-4 mt-1">Add reservation</h4>
                        <div><b>Workspace info:</b></div>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>email</th>
                                    <th>date</th>
                                    <th>location</th>
                                    <th>room</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var reservations in @Model.ShowReservations())
                                {
                                  <tr>
                                        <td>
                                            @Html.DisplayFor(m => reservations.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => reservations.Date)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => reservations.Location)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(m => reservations.Room)
                                        </td>
                                  </tr>
                                }
                            </tbody>
                        </table>
                        <form method="post">
                            <fieldset>
                                <div class="form-group">

                                    <label>Email</label>
                                    <input id="txtEmail" name="Email" class="form-control" type="email">
                                </div> <!-- form-group// -->

                                <div class="form-group">

                                    <label>Date</label>
                                    <input id="txtDate" name="Date" class="form-control" type="date">
                                </div>
                                <div class="form-group">
                                    <label>Location</label>
                                    <input id="txtLocation" name="Location" class="form-control" type="text">
                                </div><!-- form-group// -->  

                                <div class="form-group">
                                    <label>Room</label>
                                    <input id="txtRoom" name="Room" class="form-control" type="text">
                                </div><!-- form-group// -->  

                                <div class="form-group">
                                    <button type="submit" value="Submit" asp-page-handler="Submit" class="btn btn-dark btn-lg">Submit</button>
                                </div> <!-- form-group// -->  

                                @Model.Info  
                            </fieldset>                                               
                        </form>
                        </article>
                    </div> <!-- card.// -->
                </div>
            </div>
        </div>
  </div>
</div>
