@page
@model DeleteWorkspaceModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Delete Workspace";
}

<div class="container-fluid">
    <div class="row h-100">
        <div class="col-3 bg-light menuheight">
            <h4 class="text-left font-weight-bolder mt-4">Welcome Admin</h4>
            <div class="row">
                <div class="mt-5 w-100"></div>
                <div class="col-9">
                    <h5 class="font-italic text-left">Menu</h5>
                    <div class="w-100">
                        <a asp-page="/Admin">Home</a>
                    </div>
                    
                    <h5 class="font-italic text-left mt-3">Locations</h5>
                    <div class="w-100">
                        <a asp-page="/AddWorkspace">Add workspace</a>
                    </div>
                    
                    <div class="w-100">
                        <a class="nav-link disabled" asp-page="/DeleteWorkspace">Delete workspace</a>
                    </div>

                    <h5 class="font-italic text-left mt-3">Employees</h5>

                    <div class="w-100">
                        <a asp-page="/AddEmployee">Add employee</a>
                    </div>
                    
                    <div class="w-100">
                        <a asp-page="/DeleteEmployee">Delete employee</a>
                    </div>
                    
                    <h5 class="font-italic text-left mt-3">Reservations</h5>

                    <div class="w-100">
                        <a asp-page="/AddReservation">Add reservation</a>
                    </div>
                    
                    <div class="w-100">
                        <a asp-page="/DeleteReservations">Delete reservation</a>
                    </div>
                    
                    <h5 class="font-italic text-left mt-3">Settings</h5>

                    <div class="w-100">
                        <a asp-page="/ChangeName">Company Name</a>    
                    </div>
                    
                    <div class="w-100">
                        <a asp-page="/OpeningHours">Opening hours</a>    
                    </div>
                    
                    <div class="w-100">
                        <a asp-page="/Priorities">Edit Priorities</a>
                    </div>
                </div>
            </div>
            
            <hr>
            <a class="position-absolute" style="bottom: 15px;" asp-page="/Index">Logout</a>
        </div>

        <div class="col">
            <div class="row">
                <div class="pl-5 col-10">
                    <div class="card mt-2">
                        <article class="card-body">
                        <h4 class="card-title mb-4 mt-1">Delete Workspace</h4>

                            <div><b>Workspace info:</b></div>
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>location</th>
                                        <th>room</th>
                                        <th>availableworkspaces</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var workspace in @Model.ShowWorkspaces())
                                    {
                                        <form method="post">
                                            <fieldset>
                                                <tr>
                                                    <td>
                                                        <img class="img-fluid" src="/Images/Reservation.png"/>
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(m => workspace.WSlocation)
                                                        <input type="hidden" name="Location" value="@Html.DisplayFor(m => workspace.WSlocation)"/>
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(m => workspace.WSroom)
                                                        <input type="hidden" name="Room" value="@Html.DisplayFor(m => workspace.WSroom)"/>
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(m => workspace.WSavailableworkspaces)
                                                        <input type="hidden" name="Id" value="@Html.DisplayFor(m => workspace.WSid)"/>
                                                    </td>
                                                    <td>
                                                    <button type="submit" value="Submit" asp-page-handler="Submit" onclick="return confirm('Are you sure you want to delete this workspace: @Html.DisplayFor(m => workspace.WSlocation) @Html.DisplayFor(m => workspace.WSroom)')" class="btn btn-dark btn-sm">X</button>
                                                    </td>
                                                </tr>
                                            </fieldset>
                                        </form>
                                    }
                                </tbody>
                            </table>

                        </article>
                    </div> <!-- card.// -->
                </div>
            </div>
        </div>
    </div>
</div>
