@page
@model DeleteWorkspaceModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Delete Workspace";
}

<div class="container-fluid">
    <div class="row h-100">
        <div class="col-3 bg-light">
            <h4 class="text-left font-weight-bolder mt-4">Welcome Admin</h4>
            <div class="row">
                <div class="mt-5 w-100"></div>
                <div class="col-9">
                    <h5 class="font-italic text-left">Notifications</h5>
                </div>

                <div class="col">
                    <div class="circle">1</div>
                </div>
            </div>
            <hr>
            <p class="mt-2 mb-2">Text Notifications</p>
            <hr>

            <div class="mt-5 w-100"></div>
            <h5 class="font-italic text-left">Manage my reservations</h5>
            <hr>
            <a class="" asp-area="" asp-page="/Index">Logout</a>
        </div>

        <div class="col">
            <div class="row">
                <div class="pl-5 col-10">
                    <div class="card mt-2">
                        <article class="card-body">
                        <h4 class="card-title mb-4 mt-1">Delete Workspace</h4>

                            <div><b>Workspace info:</b></div>
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>location</th>
                                        <th>room</th>
                                        <th>availableworkspaces</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var workspace in @Model.ShowWorkspaces())
                                    {
                                        <form method="post">
                                            <fieldset>
                                                <tr>
                                                    <td>
                                                        <img class="img-fluid" src="/Images/Reservation.png"/>
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(m => workspace.WSlocation)
                                                        <input type="hidden" name="Location" value="@Html.DisplayFor(m => workspace.WSlocation)"/>
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(m => workspace.WSroom)
                                                        <input type="hidden" name="Room" value="@Html.DisplayFor(m => workspace.WSroom)"/>
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(m => workspace.WSavailableworkspaces)
                                                        <input type="hidden" name="Id" value="@Html.DisplayFor(m => workspace.WSid)"/>
                                                    </td>
                                                    <td>
                                                    <button type="submit" value="Submit" asp-page-handler="Submit" class="btn btn-dark btn-sm">X</button>
                                                    </td>
                                                </tr>
                                            </fieldset>
                                        </form>
                                    }
                                </tbody>
                            </table>

                        </article>
                    </div> <!-- card.// -->
                </div>
            </div>
        </div>
    </div>
</div>
